/**************************************
 * Header Counters for vs code, ksc
 **************************************/
/** initialize css counter */
/* body {
  background-color: #3399ff;
}*/
h1{
  color:whitesmoke;
  background-color: #3399ff;
}
h2, h3, h4, h5, h6 {
  color: #3399ff !important;
}


body.showEditorSelection :not(tr, ul, ol).code-line:hover:before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 0px;
  height: 100%;
  /* color: darkblue; */
}


h1 {
  counter-reset: h2;
}

h2 {
  counter-reset: h3;
}

h3 {
  counter-reset: h4;
}

h4 {
  counter-reset: h5;
}

/** put counter result into headings */
h2:before {
  counter-increment: h2;
  content: counter(h2) "\00a0\00a0\00a0" !important;
  display: inline !important;
}

h3:before {
  counter-increment: h3;
  content: counter(h2) "." counter(h3) "\00a0\00a0\00a0" !important;
  display: inline !important;
}

h4:before {
  counter-increment: h4;
  content: counter(h2) "." counter(h3) "." counter(h4) "\00a0\00a0\00a0" !important;
  display: inline !important;
}

h5:before {
  counter-increment: h5;
  content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "\00a0\00a0\00a0" !important;
  display: inline !important;
}